absl-py
astunparse
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
filelock
Flask
flatbuffers
fsspec
gast
gevent
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h5py
huggingface-hub
idna
importlib_metadata
itsdangerous
Jinja2
keras
libclang
Markdown
MarkupSafe
mpmath
networkx
numpy
oauthlib
opt_einsum
packaging
pillow
protobuf
pyasn1
pyasn1_modules
pycparser
PyYAML
regex
requests
requests-oauthlib
rsa
safetensors
six
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
urllib3
Werkzeug
wrapt
zipp
zope.event
zope.interface
gunicorn
